@charset "ISO-8859-1";

/*cores para utilizar o hospital.


.AreadoAdministrador{
	font-size: 5rem;
	color: #000;
	text-align: center;
}

#botão{
	color:#000;
	background-color:#0 255 255;
}
*/